@{
    ViewBag.Title = "Ошибка";
}
<div class="one-third-col one-third-col-my">
    <div class="my-posts-last">Ошибка запроса</div>
    <div class="block-divider my-block"></div>

    Запрошенная страница не найдена
</div>