@{
    ViewBag.Title = "Главная";
    ViewBag.idpage = 1;
}
@model blogik.Models.PostModel
<div id="posts-list" class="cf single-post">

    <article class="cf">
        <div class="entry-title">
            <div class="post-heading">Главное сдать сессию</div>
            <div class="meta">Jan 23</div>
        </div>
        <div class="block-divider"></div>
        <div class="excerpt entry-content">
            <p>
                5 способов сдать сессию на «отлично».<br>
                И пережить экзамены без стресса и бессонных ночей.
            </p>
            <blockquote>
                1. Соблюдай диету пятерочника<br>
                2. Не забывай о режиме дня<br>
                3. Составь график занятий<br>
                4. Не отвлекайся на частности<br>
                5. Настройся на позитив<br>
            </blockquote>
        </div>
    </article>

    <div class="block-divider"></div>

    <div id="comments-wrap">
        <h4 class="heading">2 комментария</h4>

        <ul class="commentlist">

            <li class="comment">
                <div id="div-comment-1" class="comment-body">
                    <div class="comment-author vcard"><cite class="fn">admin</cite></div>
                    <div class="comment-meta commentmetadata">June 18, 2012 at 6:07</div>
                    <p>Отличный блог!</p>
                </div>
            </li>

            <li class="comment">
                <div id="div-comment-1" class="comment-body">
                    <div class="comment-author vcard"><cite class="fn">admin</cite></div>
                    <div class="comment-meta commentmetadata">June 18, 2012 at 6:07</div>
                    <p>Отличный блог!</p>
                </div>
            </li>

        </ul>

    </div>

    <div id="respond">
        <h4 class="heading">Оставить комментарий</h4>
        <form action="single.html" method="post" id="commentform">
            <p class="comment-notes">Заполните все поля обязательно<span class="required">*</span></p>

            <p class="comment-form-author">
                <label for="author">Имя</label>
                <input id="author" name="author" type="text" value="" size="30" required aria-required="true">
            </p>

            <p class="comment-form-comment">
                <label for="comment">Ваш комментарий</label>
                <textarea id="comment" name="comment" cols="25" rows="8" required aria-required="true"></textarea>
            </p>		<!-- Номер поста -->

            <p class="form-submit">
                <input name="submit" type="submit" id="submit" value="Отправить">
                <input type="hidden" name="comment_post_ID" value="34" id="comment_post_ID">
            </p>

        </form>
    </div>
    <div class="block-divider"></div>
    <div id="my-button"><a href="posts.html" class="link-button green">Читать другие записи</a></div>

</div>