@{
    Layout = null;
}
@model blogik.Models.TagModel
<li class="block">
    <h4 class="heading">Категории</h4>
    <div class="small-posts-list ">
        <div class="widget-block">
            <ul>
                @foreach (var item in Model.tags)
                {
                    <li class="cat-item"><a href="@Url.RouteUrl("Tags", new { Controller = "Tags", action = "NTags", id = @item.url } )">@item.name</a></li>
                }
            </ul>
        </div>
    </div>
</li>