@{
    ViewBag.Title = "Последние записи";
    ViewBag.idpage = 2;
}
@model blogik.Models.AllPostModel
<div class="one-third-col one-third-col-my">
    <div class="my-posts-last">Последние записи</div>
    <div class="block-divider my-block"></div>

    <ul class="recent-posts">
    @foreach (var item in Model.items)
    {
        <li>
            <a href="@Url.RouteUrl("Post", new { Controller = "Post", action = "NPost", id = @item.url })" class="title">
                @item.name
            </a>
            <span class="date">@item.date</span>
        </li>
    }
    </ul>

    <ul class="pager cf">
        <li class="paged">Страница 1 из 4</li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    </ul>
</div>