@{
    ViewBag.Title = "Последние записи";
    ViewBag.idpage = 2;
}

<div class="one-third-col one-third-col-my">
    <div class="my-posts-last">Последние записи</div>
    <div class="block-divider my-block"></div>

    <ul class="recent-posts">
        <li>
            <a href="single.html" class="title">Главное сдать сессию</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Главное сдать сессию 2</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Lorem Ipsum Dolor</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Lorem Ipsum Dolor</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Главное сдать сессиюГлавное сдать сессию</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Главное сдать сессию</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Lorem Ipsum DolorLorolorLorem Ipsum Dolor</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Главное сдать сессию</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Lorem Ipsum Dolor</a>
            <span class="date">Jan 12</span>
        </li>
        <li>
            <a href="single.html" class="title">Lorem Ipsum Dolor</a>
            <span class="date">Jan 12</span>
        </li>
    </ul>

    <ul class="pager cf">
        <li class="paged">Страница 1 из 4</li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
    </ul>
</div>